.header,
.columns {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}

.edit-modal {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;

	overflow: auto;
	z-index: 200;

	padding: 0 20px;

	background: rgba(0, 0, 0, 0.5);
}

.edit-card {
	display: grid;
	grid-template-columns: auto 200px;
	grid-column-gap: 10px;
	position: relative;
	width: auto;
	max-width: 800px;
	margin: 50px auto;

	border-radius: 3px;
	padding: 20px 30px;

	background: #f4f5f7;

	@media screen and (max-width: 600px) {
		grid-template-columns: auto;
		padding: 10px 10px;
	}

	&__exit {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		top: 20px;
		right: 20px;

		border-radius: 50%;
		transition: background 0.1s linear;

		@media screen and (max-width: 600px) {
			top: 10px;
			right: 10px;
		}

		&:hover {
			background: rgba(200, 200, 200, 0.7);
		}
	}
}

.instant-actions {
	width: auto;

	.title {
		font-size: 1.5em;
		font-weight: 600;
	}

	&__item {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.action-title {
	&__input {
		width: 100%;
		height: auto;
		padding: 5px;
		margin-left: -8px;
		border-radius: 3px;
		border: 2px solid #f4f5f7;
		background: #f4f5f7;
		resize: none;

		&:focus {
			border: 2px solid black;
			background: white;
		}
	}

	&__column-name {
		text-decoration: underline;
	}
}

.action-description {
	&__title {
		margin-bottom: 10px;
	}

	&__input {
		width: 100%;
		height: auto;
		padding: 10px;

		border: none;
		border-radius: 3px;
		resize: vertical;
		background: #e2e4e9;
	}
}

.action-actions {
	&__title {
		margin-bottom: 10px;
	}
}

.comments {
	display: flex;
	flex-direction: column;

	&__comment {
		margin-bottom: 20px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.comment {
	display: flex;

	&__avatar {
		flex: 0 0 auto;
		width: 50px;
		height: 50px;
		margin-right: 10px;
		border-radius: 50%;
		background: #e2e4e9;
	}

	&__main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__author {
		font-weight: 700;
	}

	&__date {
		font-size: 0.9em;
	}
}

.delayed-actions {
	display: flex;
	flex-direction: column;
	margin-top: 50px;

	&__title {
		margin-bottom: 15px;
	}

	&__action {
		cursor: pointer;
		border-radius: 3px;
		padding: 5px;
		background: #e2e4e9;
		margin-bottom: 10px;

		transition: background 0.1s linear;
		box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background: darken($color: #e2e4e9, $amount: 5%);
		}
	}
}
