@import "./fonts.scss";

.header {
    background: #0067A3;
    color: white;
    // max-height: 32px;

    &__link {
        color: white;
    }
}

.nav {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    padding: 3px;

    width: 40%;

    // width: x;


    &__item {
        margin-right: 3px;
        // width: 50px;
        // height: 50px;
        
        // background: url('../images/board.svg');
    }

    &__link {
        // prevent overflowing link outside down the parent
        display: inline-block;
        padding: 10px;
        background: hsla(0, 0%, 100%, .3);
        border-radius: 3px;

        &:hover {
            background: hsla(0, 0%, 100%, .2);
            transition: .1s linear;
        }
    }
}
