@import "secondary/form.scss";
@import "secondary/main.scss";

body {
    background: white;
}

.login-content {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;

    &__form {
        margin: auto;
        max-width: 450px;
    }
}

.logo {
    // flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    &__icon {
        display: inline-block;
    }
    &__text {
        color: #0067A3;
        font-size: 2em;
    }
}

.login-form {
    padding: 40px 40px;
    margin-bottom: 40px;

    @media screen and (min-width: 600px) {
        box-shadow: rgba(0, 0, 0, .1) 0 0 10px
    }
}



@media screen and (min-width: 600px) {
    body {
        background: #F9FAFC;
    }
}