@import "./colors";
@import "./vars";
@import "./normalize";
@import "./fonts.scss";

@import "./header";

body {
	color: $body-color;
    font-size: $body-font-size;
    font-family: 'myfont'
	// font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
	// 	Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}
// create my reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
}

h1 {
	font-size: 20px;
}
