@import "./colors";
@import "./vars";
@import "./normalize";
@import "./fonts.scss";

@import "./header";

@import "./my-boards.scss";

html {
	background: #FAFBFC;
}

body {
	color: black;
    font-size: $body-font-size;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
		Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}
// create my reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	// color: white;
	text-decoration: none;
}

h1 {
	font-size: 20px;
}

.zentask {

	// &__logo {

	// 	background: url("assets/zen-logo-white.svg");	
	// }

	&__text {
		font-family: 'myfont';
	}
}
