.user-form {
    border-radius: 5px;
    background: white;

    &__title {
        text-align: center;
        margin-bottom: 35px;
    }

    // &__label {
    //     &_hidden {
    //         display: none;
    //     }
    // }

    &__input {
        width: 100%;
        margin-bottom: 15px;
        padding: 5px 5px;
        border-radius: 3px;
        
        line-height: 1.5em;
        font-size: 20px;
        transition: all .2s ease-in-out;

        
    }

    &__input-text {
        padding: 5px 5px;
        background: #FAFBFC;
        border: 2px solid #DFE1E6;
        &:focus {
            background: #E8F0FE;
            border: 2px solid #4c9aff;
        }
    }

    &__input-button {
        border: none;
        background: #5aac44;
        color: white;

        &:hover {
            background: #61BD4F;
        }
    }

    &__textarea {
        padding: 5px 5px;
        background: #FAFBFC;
        border: 2px solid #DFE1E6;
        resize: vertical;
        &:focus {
            background: #E8F0FE;
            border: 2px solid #4c9aff;
        }
    }

    // .user-form__label {
    //     &_hidden {
    //         display: none;
    //     }
    // }

    // @media screen and (min-width: 600px) {
    //     box-shadow: rgba(0, 0, 0, .1) 0 0 10px
    // }
}

.auth-page-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}