@import "secondary/colors";
@import "secondary/vars";
@import "secondary/normalize";
@import "secondary/fonts.scss";

html {
	min-height: 100%;
}

html {
	background: #fafbfc;
}

body {
	position: relative;
	color: black;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
		Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
	height: 100vh;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 20px;
}

h4 {
	font-size: 1em;
}
.zentask {
	&__logo {
		width: 100px;
		height: 100px;
	}

	&__text {
		letter-spacing: 2px;
		font-family: "myfont";
	}
}
